.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.card:hover{
  transform: scale(0.98);
}

.badge {
  background-color: #d4f1d7;
  color: #34a853;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
}
.badges {
  background-color: #d4f1d7;
  color: #a84534;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
}

.content {
  flex: 1;
}

.title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location,
.remaining-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flag {
  margin-right: 4px;
}

.time {
  color: #f39c12;
  font-weight: bold;
  margin-right: 8px;
}

.date {
  color: #888888;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eaeaea;
}

.arrow-icon {
  font-size: 16px;
  color: #555555;
}
