
<div class="container">
  <div class="left">
    <div class="Sector">
      <h3 style="font-size: medium;margin-left: 59px;">Secteur de l'entreprise</h3>
      <div class="tags" style=" margin-left: 18px;margin-top: 40px;">
        <nz-tag
          *ngFor="let sector of companySectors"
          [nzChecked]="sector.selected"
          (nzCheckedChange)="onTagChange(sector, $event)"
          [nzMode]="'checkable'"
        >
          {{ sector.name }}
        </nz-tag>
      </div>
    </div>
    <div style="display: flex;
    justify-content: space-around;">
      <button class="btn-secondary" (click)="clearAllFilters()">
        Actualiser
      </button>
      <button class="btn-primary" (click)="showMatches()">
        Afficher
      </button>
    </div>
    <img src="assets/images/er.png" alt="">
  </div>
  <div class="right" (scroll)="onScroll($event)">
    @for (tender  of tenders; track $index) {
      <app-card [tender]="tender"></app-card>
    }
  </div>
</div>

