.login-form {
  max-width: 500px;
  width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-image: url('../../../../assets/images/login-bg.jpg'); */
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.form-login {
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  z-index: 9;
}
.form-register {
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  z-index: 9;
}
.registerNow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.btn-login {
  width: 100%;
  padding: 10px;
  background: #3e347b;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}
.connecte-toi {
  color: #3e347b;
  text-align: start;
  padding: 0;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.btn-login:hover {
  background: #686193;
}
.register-nowBtn {
  background: #9b92cd !important;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.register-nowBtn:hover {
  background: #6a60a5 !important;
}
h1 {
  color: #3e347b;
  font-size: 30px;
  /* margin: 0; */
}
::ng-deep .ant-form-item-control-input-content.ng-tns-c4199843130-2 {
  text-align: center;
}
::ng-deep .ant-radio-checked .ant-radio-inner {
  border-color: #3e347b;
}
::ng-deep .ant-radio-inner::after {
  background: #3e347b;
}




/* bubble */
.container {
  position: absolute;
  top: 9%;
  left: 15%;
}
.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}
